.collaction{
  background-image: url("../../Images/collection-bg.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 15%);
  background-position-y: calc(50% - 35%);
  padding: 90px 0px 200px;
}
.collaction__list{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.collaction__item{
  width: 255px;
  text-align: center;
  padding: 126px 0px 0px;
}
.collaction__item-img{
  display: inline-block;
  margin-bottom: 71px;
}
.collaction__item-title {
  color: #333D4B;
  text-align: center;
  font-family: 'Fraunces 9pt';
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  padding: 0px 20px;
  display: block;
  margin-bottom: 24px;
}
.collaction__item-text {
  color: #333D4B;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  letter-spacing: 1.2px;
  padding: 0px 10px;
}